<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-color: black;
        }
        
        h1 {
            margin-top: 20%;
            font-family: sans-serif;
            font-size: 65px;
            text-align: center;
            color: white;
        }
        
        #negative {
            color: green;
        }
    </style>
    <title>
        Covid Negative
    </title>
</head>

<body>
    <h1> Hello {{ name }} You are tested Covid <span id="negative">Negative(-)!</span></h1>
</body>

</html>